In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import os
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [4]:
os.getcwd()

'C:\\Users\\SONIC PC'

In [5]:
os.chdir("C:\\Users\\SONIC PC\\Desktop\\csv files")

In [6]:
pf = pd.read_csv("Housing pak.csv")
pf.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN,Marla,4.0,0-5 Marla
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN,Marla,5.6,5-10 Marla
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN,Marla,8.0,5-10 Marla
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN,Kanal,2.0,1-5 Kanal
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,Marla,8.0,5-10 Marla

In [13]:
pf1 = pf.drop(["agency", "agent", "latitude", "longitude", "date_added","property_id","location_id","page_url","Area Category","purpose"], axis="columns")
pf1.head()

,property_type,price,location,city,province_name,baths,area,bedrooms,Area Type,Area Size
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,2,4 Marla,2,Marla,4.0
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,3,5.6 Marla,3,Marla,5.6
2,House,16500000,G-15,Islamabad,Islamabad Capital,6,8 Marla,5,Marla,8.0
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,4,2 Kanal,4,Kanal,2.0
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,3,8 Marla,3,Marla,8.0

In [14]:
pf1.shape

(168446, 10)

In [15]:
pf1['Area Size'].unique()

array([4.000e+00, 5.600e+00, 8.000e+00, 2.000e+00, 1.600e+00, 1.000e+00,
       6.200e+00, 7.100e+00, 7.800e+00, 4.500e+00, 1.000e+01, 3.100e+00,
       1.500e+00, 1.400e+01, 5.000e+00, 6.000e+00, 8.400e+00, 4.700e+00,
       1.200e+01, 4.300e+00, 1.780e+01, 6.700e+00, 5.300e+00, 2.100e+00,
       2.500e+00, 1.200e+00, 1.330e+01, 2.400e+00, 1.600e+01, 9.300e+00,
       9.000e+00, 1.100e+01, 7.500e+00, 1.800e+01, 3.000e+00, 6.500e+00,
       1.100e+00, 9.700e+00, 7.000e+00, 3.800e+00, 5.500e+00, 4.400e+00,
       2.200e+00, 8.900e+00, 3.200e+00, 9.600e+00, 9.800e+00, 1.020e+01,
       1.140e+01, 1.310e+01, 4.800e+00, 7.600e+00, 5.400e+00, 1.340e+01,
       1.320e+01, 5.200e+00, 1.300e+00, 6.100e+00, 9.100e+00, 1.150e+01,
       1.090e+01, 3.700e+00, 4.200e+00, 5.800e+00, 1.010e+01, 1.700e+01,
       8.200e+00, 1.170e+01, 1.070e+01, 1.060e+01, 1.120e+01, 1.700e+00,
       6.900e+00, 6.600e+00, 2.900e+00, 1.110e+01, 3.600e+00, 4.100e+00,
       1.640e+01, 1.500e+01, 1.300e+01, 1.400e+00, 1.580e+01, 1.220e+01,
       1.030e+01, 1.750e+01, 5.100e+00, 8.800e+00, 3.400e+00, 1.820e+01,
       1.180e+01, 3.300e+00, 4.900e+00, 1.360e+01, 9.000e-01, 2.000e+01,
       1.470e+01, 2.300e+00, 1.840e+01, 7.300e+00, 8.100e+00, 2.800e+00,
       1.800e+00, 1.250e+01, 1.900e+00, 1.160e+01, 1.420e+01, 1.240e+01,
       6.400e+00, 5.700e+00, 2.700e+00, 3.900e+00, 3.500e+00, 1.520e+01,
       5.900e+00, 8.700e+00, 1.910e+01, 1.040e+01, 1.590e+01, 6.300e+00,
       1.380e+01, 8.600e+00, 1.900e+01, 1.530e+01, 2.600e+00, 6.800e+00,
       8.300e+00, 1.730e+01, 1.080e+01, 1.680e+01, 7.900e+00, 4.600e+00,
       1.370e+01, 1.260e+01, 9.200e+00, 1.350e+01, 7.200e+00, 4.000e-01,
       1.050e+01, 1.560e+01, 8.500e+00, 7.400e+00, 1.210e+01, 1.870e+01,
       9.500e+00, 1.620e+01, 9.400e+00, 1.510e+01, 3.200e+01, 1.280e+01,
       6.000e-01, 8.000e-01, 5.000e-01, 1.540e+01, 1.430e+01, 1.810e+01,
       1.440e+01, 1.770e+01, 1.550e+01, 1.000e+02, 1.720e+01, 1.230e+01,
       9.900e+00, 1.480e+01, 2.000e-01, 4.160e+02, 1.920e+01, 3.000e-01,
       1.460e+01, 1.630e+01, 1.130e+01, 1.660e+01, 7.700e+00, 1.670e+01,
       1.710e+01, 4.000e+01, 1.760e+01, 7.000e-01, 1.690e+01, 1.270e+01,
       1.860e+01, 3.300e+01, 6.250e+01, 1.290e+01, 1.830e+01, 1.980e+01,
       2.800e+01, 1.880e+01, 1.390e+01, 1.450e+01, 5.200e+01, 7.200e+01,
       3.000e+01, 3.330e+01, 1.190e+01, 1.970e+01, 2.300e+01, 2.700e+01,
       1.740e+01, 0.000e+00, 5.000e+02, 1.410e+01, 2.900e+01, 1.570e+01,
       1.650e+01, 1.950e+01, 2.500e+01, 5.000e+01, 1.960e+01, 1.000e-01,
       1.680e+02, 9.000e+01, 1.940e+01, 2.200e+01, 1.890e+01, 2.400e+01,
       1.490e+01, 1.790e+01, 1.850e+01, 4.600e+01, 6.000e+02, 2.600e+01,
       1.930e+01, 3.000e+02, 1.990e+01, 2.550e+01, 6.400e+01, 4.100e+01,
       6.410e+01, 3.600e+01, 2.130e+01, 8.500e+01, 6.170e+01, 6.500e+02,
       3.500e+01, 4.750e+01, 6.500e+01, 4.500e+01, 3.250e+01, 2.350e+01,
       1.050e+02, 1.151e+02, 2.880e+01, 3.930e+01, 2.550e+02, 8.000e+01,
       8.000e+02])

In [16]:
def convert_to_marla(row):
    area_size = row['Area Size'] 
    area_type = row['Area Type']
    
    if area_type == "Kanal":
        return area_size * 20 
    elif area_type == "Marla":
        return area_size
    else:
        return None
pf1["area in marla"] = pf1.apply(convert_to_marla, axis=1)
pf1.head()

,property_type,price,location,city,province_name,baths,area,bedrooms,Area Type,Area Size,area in marla
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,2,4 Marla,2,Marla,4.0,4.0
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,3,5.6 Marla,3,Marla,5.6,5.6
2,House,16500000,G-15,Islamabad,Islamabad Capital,6,8 Marla,5,Marla,8.0,8.0
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,4,2 Kanal,4,Kanal,2.0,40.0
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,3,8 Marla,3,Marla,8.0,8.0

In [17]:
pf2 = pf1.drop(["Area Type","Area Size"],axis="columns")
pf2.head()

,property_type,price,location,city,province_name,baths,area,bedrooms,area in marla
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,2,4 Marla,2,4.0
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,3,5.6 Marla,3,5.6
2,House,16500000,G-15,Islamabad,Islamabad Capital,6,8 Marla,5,8.0
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,4,2 Kanal,4,40.0
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,3,8 Marla,3,8.0

In [18]:
pf3=pf2.copy()
pf3["Price Per Marla"]=pf3["price"]/pf3["area in marla"]
pf3.head()

,property_type,price,location,city,province_name,baths,area,bedrooms,area in marla,Price Per Marla
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,2,4 Marla,2,4.0,2.500000e+06
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,3,5.6 Marla,3,5.6,1.232143e+06
2,House,16500000,G-15,Islamabad,Islamabad Capital,6,8 Marla,5,8.0,2.062500e+06
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,4,2 Kanal,4,40.0,1.087500e+06
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,3,8 Marla,3,8.0,8.750000e+05

In [19]:
pf4 = pf3.copy()
pf4['Location'] = pf4['location'] + ' ' + pf4['city']
pf5 = pf4.drop(["location","city","province_name","area",
"property_type"], axis="columns")
pf5.head()

,price,baths,bedrooms,area in marla,Price Per Marla,Location
0,10000000,2,2,4.0,2.500000e+06,G-10 Islamabad
1,6900000,3,3,5.6,1.232143e+06,E-11 Islamabad
2,16500000,6,5,8.0,2.062500e+06,G-15 Islamabad
3,43500000,4,4,40.0,1.087500e+06,Bani Gala Islamabad
4,7000000,3,3,8.0,8.750000e+05,DHA Defence Islamabad

In [20]:

categorical_columns = ['Location']

encoded_pf = pd.get_dummies(pf5[categorical_columns])


numeric_columns = ['price', 'bedrooms', 'baths', 'area in marla']
X = pd.concat([encoded_pf, pf5[numeric_columns]], axis=1)
y = pf5['price']

y = pd.to_numeric(y, errors='coerce')

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
clf.fit(X_train, y_train)
print(clf.score(x_test, y_test))

MemoryError: Unable to allocate 1.60 GiB for an array with shape (1590, 134756) and data type float64

In [25]:
X_train_subset = X_train.sample(frac=0.1, random_state=42)  # Use 10% of the data
y_train_subset = y_train.loc[X_train_subset.index]           # Corresponding labels
clf.fit(X_train_subset, y_train_subset)
print(clf.score(X_test, y_test))

1.0

In [19]:
print(clf.score(X_test, y_test))

1.0

In [26]:
def predict_price(location,marla,bathroom,bedroom):
    loc_index=np.where(X.columns==location)[0][0]
    x=np.zeros(len(X.columns))
    x[0]= marla
    x[1]=bathroom
    x[2]= bedroom
    if loc_index>=0:
        x[loc_index]=1
    return clf.predict([x])[0]

In [29]:
predict_price("G10 Islamabad",40,4,4)

C:\Users\SONIC PC\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

-0.001268191560577182

In [28]:
def predict_price(location, marla, bathroom, bedroom):
    try:
        # Check if the location exists in the columns
        loc_index = np.where(X.columns == location)[0][0]
    except IndexError:
        # If the location is not found, set a default value (like -1) or handle accordingly
        loc_index = -1
    
    # Create an array with zeros for all feature columns
    x = np.zeros(len(X.columns))
    
    # Set values for known features
    x[0] = marla
    x[1] = bathroom
    x[2] = bedroom
    
    # If location exists, set it in the appropriate column
    if loc_index >= 0:
        x[loc_index] = 1  # Set one-hot encoding for the location
    
    return clf.predict([x])[0]  # Return the predicted price